html,
body {
  height: 100%;
}

body {
  color: #333;
  background: #f4f4f4;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  color: #333;
}

button,
input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #007bff;
}

button,
input {
  width: fit-content;
}

footer {
  margin: 20px 0;
  text-align: center;
  color: #888;
}

header {
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.blog-title {
  font-size: 36px;
  margin: 0;
}

.blog-welcome {
  font-size: 18px;
  margin: 0;
  color: black;
}

.article-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.article-content-preview {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.article-content-preview img {
  max-width: 50%;
  object-fit: cover;
}

#global {
  background: #fff;
  width: 40%;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.article-content img {
  width: 100%;
  max-height: 400px;
  margin-top: 16px;
  object-fit: cover;
  box-shadow: 2px 2px 10px 2px #000000;
}

#titreBlog,
footer {
  text-align: center;
}

#titreReponses {
  font-size: 1em;
}

.add-article-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  padding: 10px;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.title-editor {
  border: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  color: #333;
  outline: none;
  overflow-y: auto;
  white-space: pre-wrap;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.editor-container {
  width: 100%;
}

.editor {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
  background: #fff;
  color: #333;
  outline: none;
  overflow-y: auto;
  white-space: pre-wrap;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  max-width: 100%;
}

.editor-toolbar {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  gap: 5px;
  margin: 10px 0;
  width: 100%;
}

.editor-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
  color: black;
  padding: 0;
}

.article-card {
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.article-card:hover,
button:hover {
  transform: scale(1.02);
  transition: ease-in-out 300ms;
}

.titrearticle {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.titrearticle:hover {
  text-decoration: underline;
}

.date {
  color: #999;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: #f00;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.next-page {
  margin-left: auto;
}

.category-tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: #3498db;
  color: #ffffff;
  border-radius: 4px;
}

.category-tag:hover {
  background-color: #0bf;
  transition: 0.3s;
}
